*{
    margin: 0px;
    padding: 0px;
}
.tre_map {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  /* border: 2px solid black;  */
    font-size: 30px;
    font-weight: bold;
}
.tre_heading{
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;

}
/* .map{
  border: 1px solid black;
} */

.cord img {
  border-radius: 10px;   
}
.trendingcard{
  background-color:#fff;
  margin-top: 20px;
}
.bikehead{

  padding: 20px;
  font-size: 23px;
  /* justify-content:space-between ; */
}