.carosel{
    height: 40vh;
    margin: 1px;
    position: relative;
    z-index: -1;
}
.carousel-control-prev-icon{
    position: absolute;
    top: 100px;
}
.carousel-control-next-icon{
  position: absolute;
  top: 100px;
}
.carosel button{
display: none;
}

@media screen and (max-width:600px){
.carosel{
  height: 20vh;
  z-index: 0;
}
.carousel-control-prev-icon{
 display: none;
}
.carousel-control-next-icon{
display: none;
}

}