*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    width: 90vw;
}
#root{
    width: 98.8vw;
}
.section-1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}