/* .main{
   [ display: flex;
     flex-wrap: wrap;
} */
 .F1{
    width: 98vw;
 }
.mainbox{
overflow: auto;
display: flex;
gap: 70px;
/* margin-top: 100px; */
}
.cardimg{
    align-items: center;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}
.mt1{
    display: flex;
    gap:30px;
    justify-content: center;
     padding-left: 40px;
     align-items: center;
}

.mobileimg{
    gap: 20px;

}
 .shoptitle{
    padding-left: 40px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size:xx-large;
 }    

.cardname{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    /* justify-items: center;  */
    /* position: relative; */
    /* left: 60px; */
    /* bottom: 27px; */
}

.rounded{
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.mt{
    display: flex;
    padding-left: 30px;
    overflow:auto;
}
.over{
    display: flex;
    padding-left: 30px;
    overflow:auto;
}
.ptag{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;    
}
.mobileptag{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    display: flex;
    /* margin-bottom: 100px; */
}
.over{
    margin-top: 120px;
    margin-bottom: 150px;
}
.title{
    margin-top: 10px;
    display: flex;
    padding-left: 40px;
}

.backtotop{
    background-color:rgb(59, 73, 73);
    justify-items: center;
    height: 80px;
    /* margin-top: 50px; */
}
.h3tag{
    padding-top: 27px;
    color: aliceblue;
    text-align: center;
    /* padding-left: 700px; */
    /* padding-left: 850px; */
}
.footerpage{
    height: 600px;
    padding-top: 50px;
    color: aliceblue;
    display: flex;
    gap: 230px;
    padding-left: 60px;
    padding-top: 30px;
}
.footer-main a{
    color: aliceblue;
    text-decoration: none;
    
}
.line{
    background-color:rgba(33, 31, 49, 0.897);

}
.hr{
    background-color: rgb(244, 248, 248);
    height: 1px;

}
.footerdown{
    display: flex;
}
.main_footer{
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* .national{ */
    /* position: relative;
    bottom: 80px; */
    /* left: 1000px; */
/* } */
.total_but{
    display: flex;
  justify-content: center;  
  gap: 10px; 
  /* width: 30px; */
}
.national button{
    /* background-color:rgba(33, 31, 49, 0.897); */
    /* border: 1px solid white; */
    width: 100px;
    height: 35px;
    display: inline-block;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 4px;
    background-color:rgba(33, 31, 49, 0.897);

}
.but_img{
    width: 20px;
    height: 20px;
}
.but_text p{
    /* font-size: 18px;
    position: relative;
    bottom: 18px; */
    color: white;

}
.amazon_img{
   
    /* position: relative; */
    /* right: 200px;
    bottom: 40px; */
    display: flex;
    justify-self:center;
    margin-top: 10px;
    margin-right: 150px;
}
.footer-main h2{
    font-size: 16px;
}
.footer-main h3{
    font-size: 14px;
}
.footerpage{
    height: 300px;
}
.footer-main img{
    width: 200px;
}
.footerpage button{
    width: 100px;
}

.footer_button_op button{
    width: 150px;
    height: 40px;
    background-color:rgba(33, 31, 49, 0.897);
    border: 0.8px solid white;
    color: #ffff;
}
.op{
    display: flex;
background-color:rgba(33, 31, 49, 0.897);
}
.main-footer{
    padding-top: 10px;
}
.select-foot{
    background: none;
    border: none;
    outline: none;
    color: white;
}
.select-foot option{
    color: black;
}
.developed{
    color:white;
    text-align:  end;
    width:100%;
    padding:0 30px ;
}
/* .all_language{
    
} */